h1,h2,h3 {
  text-align: center;
}

#board {
  width: 730px;
  height: 600px;
  border: 2px solid black;
  margin: 0 auto;
  background: yellow;
}

.column {
  width: 100px;
  height: 600px;
  float: left;
  position: relative;
}

.column:hover {
  opacity: .5;
  background: #124391;
  cursor: pointer;
}

.column.last {
  border: none;
}

.c4row {
  position: absolute;
  padding: 20px;
}

.c4row.one {
  top: 500px;
}
.c4row.two {
  top: 400px;
}
.c4row.three {
  top: 300px
}
.c4row.four {
  top: 200px;
}
.c4row.five {
  top: 100px;
}
.c4row.six {
  top: 0px;
}

a.square {
  display: block;
  width: 63px;
  height: 63px;
  background: white;
  border-radius: 40px;
}

a.square.red {
  border-radius: 40px;
  background: #FF0000;
}

a.square.blue {
  border-radius: 40px;
  background: blue;
}

#player,
#playerlabel {
  text-transform: capitalize;
}

#gamestart,
#chip,
#tada {
  display: none;
}
